<head>
    <link rel="stylesheet" href="stylesheets/agenda.css">
</head>
    <main class="holder">
        <section class="row top">
            <h2>Agenda</h2>
        </section>
        <section class="row2 top">
          <div class="agendas js-flickity" data-flickity-options='{ "autoPlay": false, "draggable": false, "selectedAttraction": 0.018,
           "pageDots": false, "friction": 0.28, "groupCells": 1, "cellAlign": "left", "initialIndex": ".is-initial-select"}'> 

           <div class="agenda">
            <div class="month">      
                <ul>
                  <!-- <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li> -->
                  <li>
                    Enero<br>
                    <span style="font-size:12px">2020</span>
                  </li>
                </ul>
            </div>
              
              <ul class="weekdays">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>
              
              <ul class="days">  
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
              </ul>
          </div>
           <div class="agenda">
            <div class="month">      
                <ul>
                  <!-- <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li> -->
                  <li>
                    Febrero<br>
                    <span style="font-size:12px">2020</span>
                  </li>
                </ul>
            </div>
              
              <ul class="weekdays">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>
              
              <ul class="days">  
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
              </ul>
          </div>
           <div class="agenda">
            <div class="month">      
                <ul>
                  <!-- <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li> -->
                  <li>
                    Marzo<br>
                    <span style="font-size:12px">2020</span>
                  </li>
                </ul>
            </div>
              
              <ul class="weekdays">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>
              
              <ul class="days">  
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
              </ul>
          </div>
           <div class="agenda">
            <div class="month">      
                <ul>
                  <!-- <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li> -->
                  <li>
                    Abril<br>
                    <span style="font-size:12px">2020</span>
                  </li>
                </ul>
            </div>
              
              <ul class="weekdays">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>
              
              <ul class="days">  
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
              </ul>
          </div>
          <div class="agenda is-initial-select">
            <div class="month">      
                <ul>
                  <!-- <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li> -->
                  <li>
                    Mayo<br>
                    <span style="font-size:12px">2020</span>
                  </li>
                </ul>
            </div>
              
              <ul class="weekdays">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>
              
              <ul class="days">  
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>
                  <a href="../eventos/evento1.html">
                    <span class="active">20</span>
                  </a> 
                </li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
              </ul>
        </div>
        <div class="agenda">
            <div class="month">      
                <ul>
                  <!-- <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li> -->
                  <li>
                    Junio<br>
                    <span style="font-size:12px">2020</span>
                  </li>
                </ul>
            </div>
              
              <ul class="weekdays">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>
              
              <ul class="days">  
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>
                  <a href="../eventos/evento2.html">
                    <span class="active">10</span>
                  </a>
                </li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
              </ul>
        </div>
           <div class="agenda">
            <div class="month">      
                <ul>
                  <!-- <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li> -->
                  <li>
                    Julio<br>
                    <span style="font-size:12px">2020</span>
                  </li>
                </ul>
            </div>
              
              <ul class="weekdays">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>
              
              <ul class="days">  
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
              </ul>
          </div>
           <div class="agenda">
            <div class="month">      
                <ul>
                  <!-- <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li> -->
                  <li>
                    Agosto<br>
                    <span style="font-size:12px">2020</span>
                  </li>
                </ul>
            </div>
              
              <ul class="weekdays">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>
              
              <ul class="days">  
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
              </ul>
          </div>
           <div class="agenda">
            <div class="month">      
                <ul>
                  <!-- <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li> -->
                  <li>
                    Septiembre<br>
                    <span style="font-size:12px">2020</span>
                  </li>
                </ul>
            </div>
              
              <ul class="weekdays">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>
              
              <ul class="days">  
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
              </ul>
          </div>
           <div class="agenda">
            <div class="month">      
                <ul>
                  <!-- <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li> -->
                  <li>
                    Octubre<br>
                    <span style="font-size:12px">2020</span>
                  </li>
                </ul>
            </div>
              
              <ul class="weekdays">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>
              
              <ul class="days">  
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
              </ul>
          </div>
            <div class="agenda">
                <div class="month">      
                    <ul>
                      <!-- <li class="prev">&#10094;</li>
                      <li class="next">&#10095;</li> -->
                      <li>
                        Noviembre<br>
                        <span style="font-size:12px">2020</span>
                      </li>
                    </ul>
                </div>
                  
                  <ul class="weekdays">
                    <li>Lu</li>
                    <li>Ma</li>
                    <li>Mi</li>
                    <li>Ju</li>
                    <li>Vi</li>
                    <li>Sa</li>
                    <li>Su</li>
                  </ul>
                  
                  <ul class="days">  
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li>31</li>
                  </ul>
            </div>
            <div class="agenda">
              <div class="month">      
                  <ul>
                    <!-- <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li> -->
                    <li>
                      Diciembre<br>
                      <span style="font-size:12px">2020</span>
                    </li>
                  </ul>
              </div>
                
                <ul class="weekdays">
                  <li>Lu</li>
                  <li>Ma</li>
                  <li>Mi</li>
                  <li>Ju</li>
                  <li>Vi</li>
                  <li>Sa</li>
                  <li>Su</li>
                </ul>
                
                <ul class="days">  
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>10</li>
                  <li>11</li>
                  <li>12</li>
                  <li>13</li>
                  <li>14</li>
                  <li>15</li>
                  <li>16</li>
                  <li>17</li>
                  <li>18</li>
                  <li>19</li>
                  <li>20</li>
                  <li>21</li>
                  <li>22</li>
                  <li>23</li>
                  <li>24</li>
                  <li>25</li>
                  <li>26</li>
                  <li>27</li>
                  <li>28</li>
                  <li>29</li>
                  <li>30</li>
                  <li>31</li>
                </ul>
            </div>
          
          </div>

        </section>
        <section class="row2 top2">
          <div class="evento">
            <div class="left">
              <a href="../eventos/evento1.html">
                <img src="images/agend.webp" alt="evento">
              </a>
            </div>
            <div class="right">
              <a class="fecha" href="../eventos/evento1.html">
                Sa 20 May 2020. <br> 18:30
              </a>
              <a class="title" href="../eventos/evento1.html">
                Presentación virtual <br>
                Lorem Ipsum
              </a>
              <a class="dir" href="../eventos/evento1.html">
                Dirección
              </a>
            </div>
          </div>
          <div class="evento">
            <div class="left">
              <a href="../eventos/evento2.html">
                <img src="images/agend2.jpeg" alt="evento">
              </a>
            </div>
            <div class="right">
              <a class="fecha" href="../eventos/evento2.html">
                Mi 10 Jun 2020. <br> 19:30
              </a>
              <a class="title" href="../eventos/evento2.html">
                Encuentro virtual <br>
                Lorem Ipsum
              </a>
              <a class="dir" href="../eventos/evento2.html">
                Dirección
              </a>
            </div>
          </div>
        </section>
    </main>
    <script src="javascripts/flickity.pkgd.min.js" > </script>
