<head>
    <link rel="stylesheet" href="stylesheets/aos.css">
    <link rel="stylesheet" href="stylesheets/catalogo.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Major+Mono+Display&family=Merienda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Lobster+Two:wght@400;700&display=swap" rel="stylesheet">
</head>
<main class="holder">
    <section class="row top">
        <h2>Catálogo</h2>
        <div class="dwn-pdf">
            <a href="../files/el-atlas-de-la-educacion.pdf">
                <p>Descarga el boletín de novedades</p>
            </a>
        </div>
    </section>

    <section class="row2 top2">
        <div class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle">
                    <div class="center">
                        <span class="up">Panorama</span>
                        <span class="up">Narrativas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Panorama narrativas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle2">
                    <div class="center">
                        <span class="up">Narrativas</span>
                        <span class="up">hispánicas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Narrativas hispánicas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle3">
                    <div class="center">
                        <span class="up">Argumentos</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span class="left">Argumentos</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle4">
                    <div class="center">
                        <span>Contraseñas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span class="left">Contraseñas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
    </section>
    <section class="row2 top2">
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle">
                    <div class="center">
                        <span class="up">Panorama</span>
                        <span class="up">Narrativas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Panorama narrativas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle2">
                    <div class="center">
                        <span class="up">Narrativas</span>
                        <span class="up">hispánicas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Narrativas hispánicas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle3">
                    <div class="center">
                        <span class="up">Argumentos</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span class="left">Argumentos</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle4">
                    <div class="center">
                        <span>Contraseñas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span class="left">Contraseñas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
    </section>
    <section class="row2 top2">
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle">
                    <div class="center">
                        <span class="up">Panorama</span>
                        <span class="up">Narrativas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Panorama narrativas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle2">
                    <div class="center">
                        <span class="up">Narrativas</span>
                        <span class="up">hispánicas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Narrativas hispánicas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle3">
                    <div class="center">
                        <span class="up">Argumentos</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span class="left">Argumentos</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle4">
                    <div class="center">
                        <span>Contraseñas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span class="left">Contraseñas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
    </section>
    <section class="row2 top2">
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle">
                    <div class="center">
                        <span class="up">Panorama</span>
                        <span class="up">Narrativas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Panorama narrativas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle2">
                    <div class="center">
                        <span class="up">Narrativas</span>
                        <span class="up">hispánicas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Narrativas hispánicas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle3">
                    <div class="center">
                        <span class="up">Argumentos</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span class="left">Argumentos</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
        <div data-aos="fade-down" class="coleccion">
            <a href="../coleccion/narrativas_hispanicas.html">
                <div class="circle4">
                    <div class="center">
                        <span>Contraseñas</span>
                    </div>
                </div>
            </a>
            <div class="title">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span class="left">Contraseñas</span>
                </a>
            </div>
            <div class="descripcion">
                <a href="../coleccion/narrativas_hispanicas.html">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, delectus aliquid? Adipisci
                        sapiente, corporis vero nobis debitis omnis ipsum, minus quibusdam dolor reiciendis recusandae
                        esse officiis, totam maxime tenetur eos!</span>
                </a>
            </div>
        </div>
    </section>
</main>
<script src="javascripts/aos.js"> </script>
<script>
    AOS.init();
</script>