    <head>
        <link rel="stylesheet" href="stylesheets/editorial.css">
    </head>
    <main class="holder">
        <section class="content top grid-container">
            <div class="left">
                <h2>Editorial <strong>Epigrama</strong></h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus omnis fugit iusto. Recusandae animi non ut eum? Nemo accusamus minima placeat labore quidem harum minus, vitae perferendis facere architecto?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus omnis fugit iusto. Recusandae animi non ut eum? Nemo accusamus minima placeat labore quidem harum minus, vitae perferendis facere architecto?
                </p>
                <p>
                    <img src="images/shakespeare.jpg" alt="library interior">
                </p>
                <span class="capital">recorrido histórico</span>
                <h4>Lorem Ipsum</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eveniet ratione natus? Accusamus animi nihil commodi recusandae, laudantium ullam praesentium error? Consequatur reprehenderit soluta deleniti aut rerum praesentium voluptatibus aliquam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatibus modi iste molestiae omnis reiciendis, autem ipsum esse repellendus mollitia delectus rem quam placeat, unde magnam praesentium consequatur? Rem, exercitationem?
                </p>
                <h4>Lorem Ipsum</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eveniet ratione natus? Accusamus animi nihil commodi recusandae, laudantium ullam praesentium error? Consequatur reprehenderit soluta deleniti aut rerum praesentium voluptatibus aliquam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatibus modi iste molestiae omnis reiciendis, autem ipsum esse repellendus mollitia delectus rem quam placeat, unde magnam praesentium consequatur? Rem, exercitationem?
                </p>
                <h4>Lorem Ipsum</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eveniet ratione natus? Accusamus animi nihil commodi recusandae, laudantium ullam praesentium error? Consequatur reprehenderit soluta deleniti aut rerum praesentium voluptatibus aliquam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatibus modi iste molestiae omnis reiciendis, autem ipsum esse repellendus mollitia delectus rem quam placeat, unde magnam praesentium consequatur? Rem, exercitationem?
                </p>

            </div>
            <div class="right">
                <h2><strong>Lorem Ipsum</strong>, Editor</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus omnis fugit iusto. Recusandae animi non ut eum? Nemo accusamus minima placeat labore quidem harum minus, vitae perferendis facere architecto?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus omnis fugit iusto. Recusandae animi non ut eum? Nemo accusamus minima placeat labore quidem harum minus, vitae perferendis facere architecto?
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus omnis fugit iusto. Recusandae animi non ut eum? Nemo accusamus minima placeat labore quidem harum minus, vitae perferendis facere architecto?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus omnis fugit iusto. Recusandae animi non ut eum? Nemo accusamus minima placeat labore quidem harum minus, vitae perferendis facere architecto?
                </p>
                <p>
                    <img src="images/time enough at last.jpg" alt="library exitement">
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus omnis fugit iusto. Recusandae animi non ut eum? Nemo accusamus minima placeat labore quidem harum minus, vitae perferendis facere architecto?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus omnis fugit iusto. Recusandae animi non ut eum? Nemo accusamus minima placeat labore quidem harum minus, vitae perferendis facere architecto?
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus omnis fugit iusto. Recusandae animi non ut eum? Nemo accusamus minima placeat labore quidem harum minus, vitae perferendis facere architecto?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus omnis fugit iusto. Recusandae animi non ut eum? Nemo accusamus minima placeat labore quidem harum minus, vitae perferendis facere architecto?
                    </p>
            </div>
        </section>
    </main>